/* /* .body{
    background-color: lightskyblue;
    height: 100vh;
    width: 100vw;
}
*{
    margin: 0;
}
.box{
    
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    height:45%;
}
#btn{
    margin:20px;
    width: 85%;
    background-color: palevioletred;
    color: white;
    border: none;
    border-radius: 15px;
    height: 35px;
    
}
h4{
    padding-top: 10px;
    margin: 10px 0;
}
input{
    border-radius: 15px;
    height: 20px;
    border: 1px solid gray;
    width: 95%;
    padding: 5px;
}
i{
    border-radius: 50%;
    padding: 10px;
    border: 2px solid black;
    margin:10px 20px;
    
}

 */
/*
 button{
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    color: white;
    width:150px;
    border-radius: 50px;
    font-size: 15px;
    padding: 3px;
 }

 .box h6>input{
    margin-left: 10px;
 }

 #email{
    margin-left: 38px;
 }

 .body{
    text-align: center;
    margin-top: 100px;
    
 }

 button{
    margin: 15px;
 } */

 body {
    /* background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%); */
    background-image: url(https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGV4YW18ZW58MHx8MHx8fDA%3D&w=1000&q=80)!important; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
  }
  
  .box-form {
    margin: 100px auto;
    width: 50%;
    background-color: rgba(0,0,0,0.1) !important;
    
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 5px 5px 15px gray;
  }
  @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }
  .box-form div {
    height: auto;
  }
  .box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
    background: transparent ;
    overflow: hidden;
    width: 80%;
    
  }
  .box-form .left .overlay {
    padding: 30px;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    
    overflow: hidden;
    box-sizing: border-box;
  }
  .box-form .left .overlay h1 {
    font-size: 4vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .box-form .left .overlay p{
    font-size: 18px;
  }
  .box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
    margin-left: 30px;
  }
  .box-form .left .overlay span a {
    background: #3b5998;
    color: #FFFFFF;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    text-align: center;
    
    border-radius:50%;
    display: inline-block;
    margin-left: 30px;
    box-shadow: 0 3px 6px 1px #042d4657;
  }
  .box-form .left .overlay span a i{
    margin-top: 15px;
  }
  .box-form .left .overlay span a:nth-child(3){
    background: #1dcaff;
    margin-left: 30px;
  }
  .box-form .left .overlay span a:nth-child(4){
    background: orangered;
    margin-left: 30px;
  }
  .box-form .right {
    padding: 40px;
    overflow: hidden;
  }
  @media (max-width: 980px) {
    .box-form .right {
      width: 100%;
    }
  }
  .box-form .right h5 {
    font-size: 4vmax;
    line-height: 0;
  }
  .box-form .right p {
    font-size: 16px;
    color: gray;
  }
  .box-form .right .inputs {
    overflow: hidden;
  }
  .box-form .right input {
    width: 90%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
  }
  .box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  .box-form .right button {
    float: right;
    color: #fff;
    font-size: 20px;
    padding: 15px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 2px 3px 2px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 2%, #49C628 100%);
  }
  
  .label {
    display: block;
    position: relative;
    margin-left: 30px;
  }
  
  .label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #70F570;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
  }
  
  .label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #70F570;
  }
  
  .label:hover::before .text-checkbox {
    background: #70F570;
  }
  
  .label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  
  .label input[type="checkbox"] {
    display: none;
  }